.background-wrapper {
  position: absolute;
  inset: 0;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
  }
  picture {
    position: absolute;
    inset: 0;
  }
  img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    object-position: center;
  }
}
