.carousel {
  inline-size: min(90vw, 800px);
  overflow: hidden;
  border-radius: 1%;
  box-shadow: 5px 5px 5px 5px;
  
  .carousel-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    
    
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
