.carousel-button {
  background: none;
  position: absolute;
  border: none;
  left: 35vw;
  margin-left: 30vw;
  top: 18vh;
  font-size: 1.5rem;
  color: rgba(black, 0.5);
  cursor: pointer;
  border-radius: 0.75rem;
  padding: 0 0.9rem;
  background-color: rgba(131, 131, 131, 0.561);

  &:hover,
  &:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: 1px solid black;
  }

  &.previous {
    left: 1rem;
  }
  &.next {
    right: 1rem;
  }
}
