@use 'sass:math';

@mixin aspect-ratio($inline-size, $block-size) {
  aspect-ratio: $inline-size / $block-size;

  @supports not (aspect-ratio: $inline-size / $block-size) {
    &::before {
      content: '';
      display: block;
      inline-size: 100%;
      padding-bottom: #{math.div($block-size, $inline-size) * 100%};
    }
  }
}

.visual {
  @include aspect-ratio(16, 9);
  position: relative;
  inline-size: 50%;
  background: red;
  display: block;
  border: 5px solid black;
  border-radius: 1%;

  picture {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    img {
      display: block;
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
